:root {
  --bg-dark-1: #12151c;
  --bg-dark-2: #191d26;
  --accent: #04aa6d;
  --accent-dark: #1f8d4d;
  --text-light: #eaebec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-dark-1);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.button {
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
  color: var(--text-light);
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  cursor: pointer;
}

.header {
  text-align: center;
  padding: 15px 20px;
  background-color: var(--bg-dark-2);
  border-bottom: solid 2px var(--accent-dark);
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.search {
  width: 15%;
  position: relative;
}

.input {
  border: 1px solid #aaa;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.error {
  color: red;
  font-size: 16px;
  position: absolute;
  left: 1px;
  bottom: -21px;
  white-space: nowrap;
}

.submit {
  padding: 10px 20px;
}

.main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.image-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.gif-button {
  padding: 10px 20px;
}

button:hover {
  background-color: var(--accent-dark);
}
